.Space-Grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
}
.hind-vadodara {
  font-family: "Hind Vadodara", sans-serif;
  font-style: normal;
}
.Ibm-plex-mono {
  font-family: "ibm plex mono", sans-serif;
  font-style: normal;
}
:root {
  --navy: #2B0A12;
  --blue: #BE123C;
  --bg: #FBF4F5;
  --dark: #2B0A12;
  --text: #6E5560;
  --light: #E0AFBD;
  --page: #FFFAFA;
  --card: #ffffff;
  --text-black: #2B0A12;
  --porject-front: #fcfcfc;
}
body.dark-mode {
 --navy: #200810;
  --blue: #F43F5E;
  --bg: #1F0A12;
  --dark: #F9E8EC;
  --text: #C79BAA;
  --light: #DCA8B6;
  --page: #150609;
  --card: #2A1320;
  --text-black: #F9E8EC;
  --porject-front: #fcfcfc;
    /* cards — dark navy cards */
  .project, section, footer {
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.2);
  }

}
*{
  font-family: "Hind Vadodara",  Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

button {
  cursor: pointer;
  transition: transform 0.3s ease;
}
button:hover {
  transform: translateY(-5px);
}
/* Header navigation bar--------------------------------------- */
header {
  display: flex;
  font-family: "Hind Vadodara",  Arial, Helvetica, sans-serif;
  margin: 0;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(0.1em);
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
header.scrolled {
  background-color: rgba(43, 10, 18, 0.9);
  backdrop-filter: blur(1em);
}
.logo {
  background-color: white;
  border-radius: 5px;
  padding: 5px 5px;
  font-weight: 800;
  font-size: 15px;
}
.logo-text {
  color: white;
  font-size: 1.6rem;
}
.header-middle-section {
  justify-content: center;
  margin: 0 14em;
  
}

.header-middle-section a{
  margin: 0 15px;
  text-decoration: none;
  color: white;
  font-weight: 300;
  position: relative;
  
}

.header-middle-section a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}
.header-middle-section a:hover::after {
  transform: scaleX(1);
}
.header-middle-section a.header-home::after {
  transform: scaleX(1);
}


.header-middle-section:hover a.header-home:not(:hover)::after {
  transform: scaleX(0);
}

.header-right-section {
  display: flex;
  align-items: center;
}
.toggle-button {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 7px 7px;
  border: none;
}
.toggle-button img {
  filter: invert(1);
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
}

.header-resume-button {
  background: transparent;
  display: flex;
  margin: 0 0 0 20px;
  align-items: center;
  padding: 6.5px 15px;
  border-radius: 5px;
  border: 1px solid #FBF4F5;
}
.header-resume-button img{
  filter: invert(1);
  width: 17px;
  height: 17px;
  margin: 0 6px 0 0;
  padding: 0;
}
.header-resume-button a{
  font-weight: 500;
  color: #FBF4F5;
}
.sidebar, .fa-bars{
  display: none;
}
/* Responsive Section- Header -----------------------------------------*/

@media (max-width: 500px) {
  .header-middle-section { display: none; }
  .header-resume-button {display: none;}  
  .toggle-button{
    background: transparent;
    margin-top: 7px;
  }
  .toggle-button img{width: 20px; height: 20px;}
  .sidebar {
    position:fixed; display: flex; flex-direction: column; 
    padding: 1em 2em;
    text-decoration: none; 
    width: 50%; height: 100vh;
    background-color: var(--blue); 
    
    z-index: 3; left: 0; top: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);

    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 6;
  }

  header{justify-content: flex-start; padding: 0 2em; gap: 8em;}
 
  .fa-bars, .fa-xmark
  { display: block;
    width: 25px;
    margin-top: 0.1em;
    margin-right: 0.4em;
    padding-left: 0;
    z-index: 4;
  }
  .fa-bars {
    filter: invert(1);
  }
  .fa-xmark {
    filter: invert(1);
    margin-bottom: 1em;
  }
  
  .sidebar-visible{
    
    transform: translateX(0);
  }
  
  .sidebar-links-container {
    display: flex; flex-direction: column; color: var(--light);
  }
  .sidebar-links-container a {
    display: block;
    text-decoration: none; color: var(--page);
    margin-bottom: 1em;
    padding: 0.5em;
    border-bottom: 1px solid var(--page);
    transition: background-color 0.3s ease;
  }

  .sidebar-links-container a:hover {
    background-color: var(--light);
    color: var(--blue);
    border-radius: 5px;
  }

    

}


/* Hero section -------------------------------------------*/
.hero-section {
  display: flex;
  height: auto;
  gap: 300px;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 6.3em 0 0 0;
}
#hero-section-bg {
  background-image: linear-gradient(to bottom right, var(--navy), #521A2E);
  
 
}
.hero-section-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}
.hero-section-above-name {
  font-family: "Hind Vadodara",  Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 400;
  margin: 0 0 0 2px;
}
.hero-section-name {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3.8rem;
  color: white;
  margin: 0;
}
.ghouri {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  color: var(--light);
}
.hero-section-profession {
  font-family: "Hind Vadodara",  Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 12px 0 0 0;
}
.hero-section-description {
  font-family: "Hind Vadodara",  Arial, Helvetica, sans-serif;
  color: var(--light);
  margin: 6px 0 0 0;
}
.view-projects-button {
  font-family: "Hind Vadodara",  Arial, Helvetica, sans-serif;
  display: block;
  padding: 1em 0.5em;
  text-align: center;
  width: 12em;
  /* height: 50px; */
  font-weight: 500;
  border-radius: 5px;
  border: none;
  background-color: var(--blue);
  color: white;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.15);
  margin-top: 2em;
  transition: transform 0.3s ease;
}
.view-projects-button:hover {
  transform: translateY(-5px);
}
.hero-section-right {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 450px;
  height: 80%;
  border-radius: 5px;
  position: relative;
}
.hero-section-signature {
  display: none;
  
}
.hero-section-circle {
  position: absolute;
  width: 380px;
  height: 380px;
  border-radius: 6%;
  background: none;
  border: 2px solid var(--blue);
  top: 150px;
  left: 7px;
  z-index: 1;
}
.hero-section-dp {
  width: 90%;
  object-fit: contain;
  z-index: 2;
}

.arrow-down-div {
  position: absolute;
  bottom: 10px;
  left: 49%;
  display: flex;
  justify-content: center;
  background-color: transparent;

}
.arrow-down-button {
  /* height: 25px;
  width: 25px;
  border-radius: 5px; */
  color: white;
  align-items: center;
}
/* Responsive Design hero section ---------------------------------------- */
@media (max-width: 900px) {
  .hero-section {flex-direction: column; padding: 6.3em 2em; justify-content: center; align-items: center; text-align: center; height: auto;}
  .hide-hero-section-right {display: none;}
  .hero-section-text {align-items: center;}
  .hero-section-name {font-size: 3.5rem; align-items: center;}
}

/* About me section --------------------------------------------- */
#about-me-section {
  background-color: var(--page);
  display: flex;
  gap: 180px;
  justify-content: center;
  align-items: center;
  padding: 6.3em 0;
}
.about-me-left-section {
  display: flex;
  max-width: 500px;
  height: 450px;
  position: relative;
  margin-top: 10px;
}
.about-me-section-circle {
  position: absolute;
  width: 380px;
  height: 410px;
  border-radius: 6%;
  background: #521A2E;
  border: 2px solid var(--blue);
  right: -29px;
  top: 9px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.about-me-image {
  position: relative;
  width: 100%;
  object-fit: contain;
  margin: 0 0 2em 0;
  /* border-radius: 0.7em; */
  z-index: 2;
}

.about-me-right-section {
  max-width: 600px;

}
.about-me {
  font-family: 'ibm plex mono', monospace;
  color: var(--blue);
  font-weight: 500;
  font-size: 1rem;
}
.about-me-right-section h1{
  font-family: "Space Grotesk", sans-serif;
  font-size: 2.5rem;
  color: var(--dark);
}
.power-the-world {
  font-family: "Space Grotesk", sans-serif;
  color: var(--blue);
}
.about-me-description {
  color: var(--text);
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}
.about-me-numbers {
  display: flex;
  gap: 3em;
  justify-content: center;
  
}
.about-me-numbers div {
  border-right: 1px solid var(--text);
  padding-right: 4em;
}
.about-me-numbers div:last-child {
  border-right: none;
}
.about-me-bold-numbers {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  color: var(--dark);
  
}
.about-me-experience {
  color: var(--text);
  font-size: 0.8rem;
}
/* responsive about me section ------------------------------------------- */
@media (max-width: 900px) {
  #about-me-section {flex-direction: column; gap: 50px; padding: 6.3em 2em;}
  .about-me-image {width: 100%;}
  .about-me {font-size: 0.85rem;}
  .about-me-right-section h1 {
    font-size: 2rem;
    margin-bottom: 0.5em;
  }
  .about-me-numbers {gap: 1.5em;}
  .about-me-bold-numbers {font-size: 1.4rem; margin-bottom: 0.5em;}
  .about-me-numbers div {
    padding-right: 2em;
  } 
  .about-me-section-circle {
    background: none;
  }
}
/* Skills section --------------------------------------------------- */
#skills-section {
   background-color: var(--bg);
   height: auto;
   padding: 6.3em 0;
}
.technical-skills {
  font-family: 'ibm plex mono', monospace;
  color: var(--blue);
  font-weight: 500;
  letter-spacing: 0.1em;
  font-size: 0.9rem;
  margin: 0 0 1em 0;
  display: flex;
  align-items: center;
  justify-self: center;
}

.tools-heading {
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  margin: 0 0 1.5em 0;
  font-size: 3rem;
  letter-spacing: -0.02em;
  font-weight: 700;
  color: var(--dark);
}
.tools-selector-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  
  
}
.skills-button {
  background-color: var(--card);
  color: var(--text-black);
  border: none;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 19px;
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.skills-button-colored {
  background-color: var(--blue);
  color: white;
}
.tools-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: auto;
  row-gap: 75px;
  column-gap: 35px;
  justify-content: center;
  align-items: center;
  margin: 65px 0;
  
}
.tool-card {
  background-color: var(--card);
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border-bottom: 7px solid var(--blue);
  transition: transform 0.3s ease;
  
}
.tool-card:hover {
  transform: translateY(-5px);
}
.tool-icon-container {
  background-color: rgb(225, 225, 225);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.tool-icon {
  width: 40%;
}
.tool-name {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  color: var(--text-black);
  margin-bottom: 10px;

}
.tool-description {
  color: var(--text);
  font-size: 15px;
}
/* responsive skills & tools Section ------------------------- */
@media (max-width: 900px) {
  .tools-heading{
    font-size: 2.2rem;
  }
  #skills-section {padding: 6.3em 1.8em; height: auto;} 
  .tools-selector-buttons {flex-wrap: wrap; gap: 10px;}
  .tools-cards-container {display: flex; flex-direction: column;}
  .tool-card {width: 100%;}
}
/* Projects Section ------------------------- */
#projects-section {
  padding: 6.3em 0;
  background-color: var(--page);
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 600px));
  column-gap: 50px;
  row-gap: 50px;
  justify-content: center;
  
}
.projects-section-mini-heading {
  font-family: 'ibm plex mono', monospace;
   color: var(--blue);
   font-weight: 500;
   font-size: 1rem;
   letter-spacing: 0.1em;
   margin: 0 0 1em 0;
   text-align: center;
}
.projects-section-big-heading {
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  font-size: 3rem;
  letter-spacing: -0.02em;
  margin: 0 0 1.5em 0;
  font-weight: 700;
  color: var(--dark);
}

.project {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  perspective: 2000px;
}
.project-front {
  position: relative;
  background-color: var(--porject-front);
  border-radius: 15px;
  
}
.project-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.project:hover .project-inner {
  transform: rotateY(180deg);
}

.project-front, .project-back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.project-back {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--navy);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
}
.project img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  margin-bottom: 25px;
}
.project-heading {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--navy);
  margin: 0 20px 10px 20px;
}
.project-description {
  font-size: 1rem;
  line-height: 1.8;
  color: #5a6a7a;
  margin: 0 20px 10px 20px;
}
.project-buttons-container {
  display: flex;
  column-gap: 10px;
  margin-left: 20px;
  margin-bottom: 1em;
}
.project-buttons-container button {
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 4px 10px;
}
.project-back-heading {
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.6em;
  text-decoration-thickness: 1px;
  margin-bottom: 1em;

}
.project-back-point {
  display: flex;
  gap: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 2em;
}
.project-back-point h3{
  margin-bottom: 0.5em;
  font-size: 1.1rem;
}
.project-back-point p{
  color: rgb(219, 219, 219);
}
.fa-triangle-exclamation, .fa-briefcase, .fa-square-poll-vertical {
  margin-top: 4px;
}
/* responsive projects section ----------------------- */
@media (max-width: 900px) {
  .projects-section-big-heading {
    font-size: 2.2rem;
  }
  #projects-section {padding: 6.3em 2em;}
  .projects-container {grid-template-columns: 1fr;  }
  .project {width: 100%;}
  .project-back-heading {text-underline-offset: 0.3em; padding: 0 0.1em;}
  
  
  
}
/* Experience section ----------------------- */
#experience-section {
   background-color: var(--bg);
   height: auto;
   padding: 6.3em 6.3em;
}
.experience-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em 5em;
}
.career-path {
  font-family: 'ibm plex mono', monospace;
   color: var(--blue);
   font-weight: 500;
   font-size: 1rem;
   letter-spacing: 0.1em;
   margin: 0 0 1em 0;
   text-align: center;
}
.experience-heading {
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  font-size: 3rem;
  letter-spacing: -0.02em;
  margin: 0 0 1.5em 0;
  font-weight: 700;
  color: var(--dark);
}
.experience-box {
  border-left: 3px solid #e5e5e5;
  padding-left: 1.5em;
  position: relative;
  margin-bottom: 3em;
}
.exp-dot {
  background-color: var(--blue);
  height: 13px;
  width: 13px;
  border: 2px solid white;
  border-radius: 5px;
  position: absolute;
  left: -8px;
  top: 0px;
}
.exp-date {
  color: var(--blue);
  font-size: 0.75rem;
  font-weight: 500;
}
.exp-job {
  font-weight: 700;
  font-size: 1.35rem;
  margin-top: 0.5em;
  color: var(--text-black);
}
.exp-company {
  color: var(--blue);
  font-size: 1.1rem;
  margin-top: 0.5em;
}
.exp-description {
  margin-top: 8px;
  font-size: 15px;
  line-height: 1.8;
  color: var(--text);
}
@media (max-width: 500px) {
  .experience-heading {
    font-size: 2.2rem;
  }
   #experience-section {
    padding: 6.3em 2em;
  }
  .experience-grid {
  display: flex;
  flex-direction: column;
}
.experience-box {
  border-left: 1px solid #e5e5e5;
}
.exp-dot {
  height: 10px;
  width: 10px;
  border: 1px solid white;
  border-radius: 3px;
  position: absolute;
  left: -6px;
  top: 0px;
}
}
/* Certificates section ----------------------- */
#certificates-section {
  padding: 6.3em 0;
  background-color: var(--page);
}
.certifications-container {
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
  
}
.certification-box {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease;
}
.certification-box:hover {
  transform: translateY(-5px);
}
.cert-logo {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 1em;
  
}
.certificate-name{
  color: var(--text-black);
}
.certification-box div{
  width: 200px;
  height: 100px;
  font-weight: 700;
}
/* responsive certifications section ----------------------- */
@media (max-width: 900px) {
  
  .certifications-container {flex-wrap: wrap; gap: 40px;}
  .certification-box {width: 140px}
  .cert-logo {width: 130px;}
}
/* Contact section ----------------------- */
#contact-section {
  background-color: var(--bg);
  padding: 6.3em 0;
}
.contact-resume-div {
  display: flex;
  gap: 100px;
  justify-content: center;
}
.contact-left-section {
  max-width: 500px;
  width: 100%;
}
.custom-form {
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  
}
.form-group {
  margin: 0 0 20px 0;
}
.form-group label{
  display: block;
  margin-bottom: 5px;
  color: var(--dark);
  font-size: 14px;
}
.form-group input{
  width: 100%;
  padding: 12px 0 12px 10px;
  border-radius: 5px;
  border: solid 1px var(--text);
}
.message-box {
  min-height: 140px;
  width: 100%;
  border-radius: 5px;
  padding: 12px 0 12px 10px;
}
.send-button {
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}
.contact-right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.resume-icon {
  background-color: white;
  width: 80px;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 35px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.resume-heading {
  color: var(--dark);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.resume-description {
   color: var(--text);
   font-size: 15px;
   margin-bottom: 20px;

}
.download-button {
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.download-icon {
  filter: invert(1);
  width: 13%;
  
}
.download-button p {
  font-size: 17px;
  margin-left: 12px;
}
.download-button:hover {
  transform: translateY(-5px);
}
/* responsive contact me section ----------------------- */
@media (max-width: 900px) {
  #contact-section {padding: 6.3em 2em;}
  .contact-resume-div {flex-direction: column; align-items: center; gap: 60px;}
  .contact-left-section {
    margin-bottom: 6.3em;
  }
  input[type="submit"] {display: block; margin: 2em auto;}

}
/* Footer section ----------------------- */
footer {
  display: flex;
  gap: 9em;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--navy);
  color: white;
  padding: 2em 0;
  
}

.footer-left-section {
  width: 22%;
  color: var(--light);
}
.footer-left-section-heading {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.6em;
}

.footer-links {
  width: 22%;
  
}
.quick-links-text {
  display: block;
  margin-bottom: 1em;
}
.footer-links-container {
  display: flex;
  align-items: flex-start;
  gap: 6em;
}
.footer-links-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}
.footer-links-column a{
  text-decoration: none;
  color: var(--light);
  margin-bottom: 0.5em;
}
.footer-social-links {

}
.fa-brands, .fa-regular {
  text-decoration: none;
  color: white;
  margin-right: 1em;
  font-size: large;
  background-color: #5c182fe1;
  padding: 0.5em;
  border-radius: 5px;
}
.footer-line {
  width: 75%;
  margin: 0 auto;
  border-bottom: 0.25px solid gray;
  
}
.author-link{
  text-decoration: none;
  color: var(--light);
}
.author-link:hover {
  font-size: 0.7rem;
  text-decoration: underline;
}
.author {
  background-color: var(--navy);
  color: var(--light);
  padding-bottom: 0.2em;
  
}
.author p{
  font-family: 'ibm plex mono', monospace;
  letter-spacing: 0.1rem;
  word-spacing: 0.1rem;
  text-align: center;
  font-size: 0.65rem;
  margin: 0.4em 0;

}
/* ============ RESPONSIVE — footer ============ */
@media (max-width: 900px) {
  footer {flex-direction: column; gap: 3em; padding: 6.3em 2em;}
  .footer-left-section {width: 100%; text-align: center;}
  .footer-links-container{justify-content: center;}
  .footer-links {width: 100%; text-align: center;}
  .footer-social-links {display: block; margin: 0 auto; text-align: center;}
}
